/*navbar setting start here*/
.navset{  
  background: black;
}
.navtextset{
  color: white !important;
}
.navcolor{
  background: black;
}

/*navbar setting ends here*/

/*footer start here...*/
.footerset{
  background-color: black;
}
.footer {
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;    
  color: white;
  text-align: center;
}
/*footer ends here...*/

/*home body section start here...*/
.bodysection{
 background-image: url("images/bismarck-air-ambulance.jpg");
 width: 10%;
 height: 30%;
}

.cardbodyset{
  background: #274379;
  color: white;
}

.alertset{
  width: 100%;  
  color: white; 
}
.welcomealert{
  text-align: center;
  font-weight: bold;
  color: white;
}

/*home body section ends here...*/

/*Ambulance Services cards start here... */
.servicescard{
  width: 5rem;
}
.learnmore{
  color: #ac1a1e;
}
/*Ambulance Services cards ends here... */

/*AboutUs Home Page Division start here...*/
.aboutUshome{
  background: #81adbf;
}
.selfnurse{
  width: 106%;

}
.aboutcolor{
  color:#ac1a1e; 
}
.quickfact{
  color: #ac1a1e;
}
.ambulanceimg{
  float: right;
}
/*About Us home page division ends here....*/



